$color-black: #000;
$color-white: #fff;
$color-success: #4e8316;
$color-danger: #eb000c;
$color-gray-200: #f0f5f5;
$color-gray-300: #cbd6d6;
$color-gray-500: #9faeaf;
$color-gray-700: #2e3d45;
$color-jurassic-red: #CA4113;
$color-jurassic-orange: #CA7622;
$color-jurassic-yellow-primary: #D9AF34;
$color-jurassic-yellow-secondary: #E6D55D;
$color-jurassic-green-primary: #93B020;
$color-jurassic-green-secondary: #4B7221;
