<div class="step-six">
  <div>
    <app-speech-bubble class="step-six__speech-bubble" [ngClass]="{ 'step-six__speech-bubble--hide': !showSpeechBubble }">
      <p>VOCÊS CONSEGUIRAAAAAAM!!!!</p>
      <p>Para concluir nossa ultimo missão vocês precisam fazer um squash (juntando todos os commits dos missões anteriores e renomear a mensagem)!</p>
      <p>Obrigado por toparam essa aventura no Front-end’s Park!! </p>
      <p>Vocês são um time #TalentosoEColaborativo #IncrívelEDeAltaPerformance #DivertidaEResponsável </p>
    </app-speech-bubble>
    <img class="step-six__dino" [ngClass]="dinoMove()" src="assets/images/birthday.png" alt="Dino Step 3">
  </div>
</div>
