.step-one{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;

  &__dino {
    width: 200px;
    position: absolute;
    bottom: 90px;
    transition: left 5s ease;

    &--start{
      left: -190px;
    }

    &--goes{
      left: 230px;
    }

    &--leave{
      left: 1000px;
    }
  }

  &__button{
    z-index: 200;
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 90px;
    right: 230px;
    cursor: pointer;

    &--hide{
      display: none;
    }
  }

  &__speech-bubble{
    position: absolute;
    top: 140px;
    left: 50px;
    opacity: 1;
    transition: opacity 2s ease;

    &--hide{
      opacity: 0;
    }
  }

  &__image{
    width: 150px;
    opacity: 0.8;

    &:hover{
      opacity: 1;
    }
  }
}
